<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Team2" connectionString="i6pa+AHin2K+66qIB5p0uzito3JITwRxyQcdJqaZpaNXA0ffXGn1M5CZlgU96W04EIbbBl9+CnHGBNaZaRqv8p5SwQkf9snh0srBfYl4Rbo="/>

	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>